<%- include('./partials/head') %>
    <%- include('./partials/nav') %>
    
<div class="hero">
    <div class="blob"></div>
    <div class="hero-info">
        <section class="content">
            <p>Hey, I'm Latoya a Creative with a passion for </p> 
            <h1>GRAPHIC DESIGN & </br> WEB DEVELOPEMENT  </h1>    
        </section>
        <div class="buttons">
            <a href="#work" class="left">see my projects</a>
            <a href="#about" class="right">more about me</a>
        </div>
    </div>
</div>
<section class="about" id="about">
    <div class="about-quote">
        <h2 class="reveal-type">
        MY DESIGNS TRANSFORM VISIONS INTO
        VIBRANT REALITIES 
        ONE DESIGN AT A TIME
        </h2>
    </div>
    <h2>About Me</h2>
    <p>
        Hey there! 👋 I'm Latoya, a creative who is passionate about turning (digital) dreams into reality.
        
        Whether it's crafting user-friendly interfaces, curating social media content, or refining videos, I thrive on transforming ideas into impactful designs.
        
        <br> <br> Over the past few years I've developed a passion for stunning visuals. I bring a unique mix of creativity and technical expertise to every project
        But what truly sets me apart is my commitment to your project's success. I don't just create; I collaborate closely with you to deliver results that exceed expectations.
    </p>
   
    <h2>You'll catch me doing 
        a combo of these:</h2>
    <div class="service-cards">
        <div class="card">
            <h3>Graphic Design</h3>
            <p> I create visually compelling graphics, logos, marketing materials, and more. My unique designs helps your brand stand out and communicate effectively.</p>
        </div>
        <div class="card">
            <h3>Web Development</h3>
            <p> A good website is a must! I build responsive, user-friendly websites and web apps. My expertise ensures a seamless online experience, improving user engagement and business growth. </p>
        </div>
        <div class="card">
            <h3>Video Editing</h3>
            <p>I craft engaging and refined videos, from promotional content to cinematic projects. My skills enhance storytelling and captivate audiences. </p>
        </div>
        <div class="card">
            <h3>Social Media</h3>
            <p> By creating engaging content, planning effective strategies, and interacting with audiences, I elevate your brand's presence. </p>
        </div>
    </div>
</section>

<section class="work" id="work">
  <h2>Featured Work</h2>
  <%- include('./partials/work')  %>
</section>

<section class="communication">
    <div class="text">
        <p>communication through design</p>
        <div class="typing-container">
            I can help you with <span class="typing-text"></span>
        </div>
        <p>
            I believe in clear, honest communication. No slick sales pitches—just straightforward advice and collaboration to find the perfect solution for outstanding results. Your ideas matter, and even if you're unsure how I can help, don't hesitate to reach out. Together, we'll brainstorm and clarify your vision, ensuring we're aligned from the start.
<br><br>
I am passionate about turning ideas into reality. From design to development, I keep you informed every step of the way, ensuring you're part of the journey as we bring your vision to life. Let's work together to make your ideas a reality.
        </p>
    </div>
    <div class="lottie">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

        <dotlottie-player src="https://lottie.host/ac92bdd2-7656-4fc6-b68c-0a4c4f74d6a4/JlR0wsARha.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
    </section>
    
<%- include('./partials/footer')  %>
<%- include('./partials/foot') %>